<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="org.crashhunter.kline">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".oneline.TDActivity"/>
        <activity android:name=".oneline.ROIActivity"/>
        <activity android:name=".oneline.DownPercentActivity"/>
        <activity android:name=".oneline.DataAnalysisActivity" />
        <activity android:name=".OneLineActivity" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.KeyLineService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CountActivity" />
        <activity android:name=".VolumeActivity" />
        <activity android:name=".VolumeActivity_binance" />
        <activity android:name=".VolumeRankActivity" />
        <activity android:name=".VolumeRankActivity_binance" />
        <activity android:name=".oneline.KeyLineActivity" />
        <activity android:name="org.crashhunter.app_record.CrashReportAct" />
        <activity android:name=".oneline.CoinMarketAPIActivity" />
        <activity android:name=".oneline.ContractListActivity" />
    </application>

</manifest>